  <h2>Reply Answer</h2>
  <form>
    <div class='form-group'>
      <label for='answerby'>Name</label>
      {{input value=answerby id='answerby'}}
    </div>
    <div class='form-group'>
      <label for='answernote'>Answer</label>
      {{textarea value=answernote id='answernote'}}
    </div>
    <button {{action 'saveAnswer'}} class='btn btn-success'>Post Answer</button>
  </form>
{{yield}}
