

<li>
  {{#link-to 'question' question.id}} {{question.title}}{{/link-to}}
</li>
  <!-- {{update-question question=question update="update"}}

  {{question-detail question=model destroyQuestion="destroyQuestion"}} -->

{{yield}}
