
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <div class='panel-title'>
        {{#link-to 'question' question.id}}
          <h4>{{question.title}}</h4>
        {{/link-to}}
      </div>
    </div>
    <div class='panel-body'>
      <p class='note-field'>{{question.note}}</p>
    </div>
  </div>


{{yield}}
