
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <div class='panel-title'>
        {{#link-to 'question' question.id}}
          <h4>{{question.title}}    by {{question.questionby}}</h4>
        {{/link-to}}
      </div>
    </div>
  </div>


{{yield}}
