<nav class="navbar navbar-default navbar-fixed-top">
  <p id=nav-home>{{# link-to 'index'}}HOME{{/link-to}}</p>
</nav>
<div class='jumbotron text-center'>
  <h1>Stuck Over In My Head</h1>
</div>

<div class='container'>
  {{outlet}}
</div>
