<nav class="navbar navbar-default">
  {{# link-to 'index'}}HOME{{/link-to}}
</nav>
<div class='jumbotron text-center'>
  <h1>Stuck Over In My Head</h1>
</div>

<div class='container'>
  <h2>You Can Find Answers</h2>
  {{outlet}}
</div>
